<div class="padding-top5">
  <div class="col s12 m12 container" *ngFor="let result of videoDetail">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{result.snippet.thumbnails.medium.url}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{result.snippet.title}}<i class="material-icons right">more_vert</i></span>
        <p><a href="https://www.youtube.com/channel/{{result.snippet.channelId}}">{{result.snippet.channelTitle}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>{{result.snippet.description}}</p>
      </div>
    </div>
  </div>
</div>
