<div class="padding-top5">
    <div class="col s12 m12 container" *ngFor="let result of videoDetail">
        <h5 class="header">Id: {{result.id}}</h5>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
                <p>Title: {{result.snippet.title}}</p>
                <p>Chanel title: {{result.snippet.channelTitle}}</p>
                <p>Published At: {{result.snippet.publistedAt}}</p>
                <p>Description: {{result.snippet.description}}</p>
            </div>

          </div>
    </div>
  </div>
</div>
