<div class="container padding-top5">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input #searchBox
                 id="search-box"
                 placeholder="Enter channel's Id to search"
                 type="text"
                 class="validate"
                 (keyup)="onKey($event, searchBox.value)">
        </div>
      </form>
    </div>
  </nav>
</div>

<div *ngIf="channelResults.length > 0" class="container">

  <div class="col s12 m7">
    <h5 class="header">{{channelResults[0].snippet.title}}</h5>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Description: {{channelResults[0].snippet.description}}</p>
          <p>Published At: {{channelResults[0].snippet.publishedAt}}</p>
          <p>View Count: {{channelResults[0].statistics.viewCount}}</p>
          <p>Subscriber Count: {{channelResults[0].statistics.subscriberCount}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
