<div class="container padding-top5">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input #searchBox
                 id="search-box"
                 placeholder="Enter channelId to search"
                 type="text"
                 class="validate"
                 (keyup)="onKey($event, searchBox.value)">
        </div>
      </form>
    </div>
  </nav>
</div>

<div *ngIf="channelResults.length > 0">
  <h1>Title: {{channelResults[0].snippet.title}}</h1>
  <h1>Description: {{channelResults[0].snippet.description}}</h1>
  <h1>Published At: {{channelResults[0].snippet.publishedAt}}</h1>
  <h1>View Count: {{channelResults[0].statistics.viewCount}}</h1>
  <h1>Subscriber Count: {{channelResults[0].statistics.subscriberCount}}</h1>
</div>
