<nav class="container">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li *ngFor="let api of apis">
        <a class="waves-effect waves-orange btn-flat" (click)="setSelected(api)">{{api}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container padding-top5">
  <form #f="ngForm">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input #searchBox
             id="search-box"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="searchText"
             placeholder="{{placeHolderMessage}}"
             type="text"
             class="validate"
             (keyup.enter)="onKey(searchBox.value)">
    </div>
  </form>
</div>

<div class="container padding-top5" [ngSwitch]="selected">
  <app-search *ngSwitchCase="'SEARCH'" [searchResults]="content"></app-search>
  <app-video *ngSwitchCase="'VIDEO'" [videoDetail]="content"></app-video>
  <app-channel *ngSwitchCase="'CHANNEL'" [channelResults]="content"></app-channel>
</div>
