
<div class="container padding-top5">
  <form>
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input #searchBox
             id="search-box"
             placeholder="Enter keyword to search"
             type="text"
             class="validate"
             (keyup)="onKey($event, searchBox.value)">
    </div>
  </form>
</div>

<div [ngSwitch]="selected">
  <!--<app-search *ngSwitchCase="SEARCH"></app-search>-->
  <!--<app-video *ngSwitchCase="VIDEOS"></app-video>-->
  <!--<app-channel *ngSwitchCase="CHANNELS"></app-channel>-->
</div>
